<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Mean Auth App</a>
    <div class="collapse navbar-collapse">
      <div id="navbar" class="navbar-collapse">
        <!-- Left Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/home']">Home</a></li>

          <li *ngIf="authService.isLoggedIn()" class="nav-item"><a class="nav-link" [routerLinkActive]="['active']"
              [routerLink]="['/dashboard']">Dashboard</a></li>
          <li *ngIf="authService.isLoggedIn()" class="nav-item"><a class="nav-link" [routerLinkActive]="['active']"
              [routerLink]="['/profile']">Profile</a></li>
        </ul>
        <!-- Right Links-->
        <ul class="navbar-nav">
          <li *ngIf="!authService.isLoggedIn()" class="nav-item"><a class="nav-link" [routerLinkActive]="['active']"
              [routerLink]="['/login']">Login</a></li>
          <li *ngIf="!authService.isLoggedIn()" class="nav-item"><a class="nav-link" [routerLinkActive]="['active']"
              [routerLink]="['/register']">Register</a></li>
          <li *ngIf="authService.isLoggedIn()" class="nav-item"><a class="nav-link" (click)="onLogoutClick()">Logout</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>
