<div class="bs-docs-section">

  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="containers">&nbsp;</h1>
      </div>
      <div class="bs-component">
        <div class="jumbotron">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="display-3">Your Dashboard seems to be Empty :(</h1>
            </div>
          </div>
          <hr>
        </div>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
      </div>
    </div>
  </div>

</div>
