<div class="bs-docs-section">

  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="containers">&nbsp;</h1>
      </div>
      <div class="bs-component">
        <div class="jumbotron">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="display-3">Specifications</h1>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="bs-component">
                <blockquote class="blockquote text-center">
                  <p class="mb-0">Express Backend</p>
                  <footer class="blockquote-footer">Express.js, or simply Express, is a web application framework for
                    Node.js,
                    released
                    as free and open-source software under the MIT License. It is designed for building web
                    applications and
                    APIs</footer>
                </blockquote>

              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="bs-component">
                <blockquote class="blockquote text-center">
                  <p class="mb-0">Angular CLI</p>
                  <footer class="blockquote-footer">The Angular CLI makes it easy to create an application that already
                    works,
                    right out
                    of the box. It already follows our best practices!</footer>
                </blockquote>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="bs-component">
                <blockquote class="blockquote text-center">
                  <p class="mb-0">JWT Token</p>
                  <footer class="blockquote-footer">JSON Web Token is a JSON-based open standard for creating access
                    tokens
                    that
                    assert
                    some number of claims. For example, a server could generate a token that has the claim "logged in
                    as
                    admin"
                    and
                    provide that to a client.</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
      </div>
    </div>
  </div>

</div>
