<div class="bs-component">
  <div class="row">
    <div class="col-lg-12">
      <h2 id="type-blockquotes">Specs</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="bs-component">
        <blockquote class="blockquote">
          <p class="mb-0">Express Backend</p>
          <footer class="blockquote-footer">Express.js, or simply Express, is a web application framework for Node.js,
            released
            as free and open-source software under the MIT License. It is designed for building web applications and
            APIs</footer>
        </blockquote>

      </div>
    </div>
    <div class="col-lg-4">
      <div class="bs-component">
        <blockquote class="blockquote text-center">
          <p class="mb-0">Angular CLI</p>
          <footer class="blockquote-footer">The Angular CLI makes it easy to create an application that already works,
            right out
            of the box. It already follows our best practices!</footer>
        </blockquote>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="bs-component">
        <blockquote class="blockquote text-right">
          <p class="mb-0">JWT Token</p>
          <footer class="blockquote-footer">JSON Web Token is a JSON-based open standard for creating access tokens
            that
            assert
            some number of claims. For example, a server could generate a token that has the claim "logged in as admin"
            and
            provide that to a client.</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
